<h2>Результаты студентов</h2>

<mat-form-field appearance="fill" style="width: 300px; margin-bottom: 20px;">
  <mat-label>Выберите тест</mat-label>
  <mat-select [value]="selectedTestName" (selectionChange)="filterByTest()">
    <mat-option [value]="''">Все тесты</mat-option>
    @for (test of availableTests; track test) {
      <mat-option [value]="test">{{ test }}</mat-option>
    }
  </mat-select>
</mat-form-field>

<table mat-table [dataSource]="filteredAttempts" class="mat-elevation-z8" style="width: 100%">
  <ng-container matColumnDef="student_name">
    <th mat-header-cell *matHeaderCellDef> Имя студента </th>
    <td mat-cell *matCellDef="let attempt"> {{ attempt.student_name }} </td>
  </ng-container>

  <ng-container matColumnDef="test_name">
    <th mat-header-cell *matHeaderCellDef> Тест </th>
    <td mat-cell *matCellDef="let attempt"> {{ attempt.test_name }} </td>
  </ng-container>

  <ng-container matColumnDef="score">
    <th mat-header-cell *matHeaderCellDef> Баллы </th>
    <td mat-cell *matCellDef="let attempt"> {{ attempt.score }} </td>
  </ng-container>

  <ng-container matColumnDef="timestamp">
    <th mat-header-cell *matHeaderCellDef> Дата </th>
    <td mat-cell *matCellDef="let attempt">
      {{ attempt.timestamp | date:'dd.MM.yy HH:mm' }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let attempt; columns: displayedColumns;"></tr>
</table>